.App {
  text-align: center;
  padding: 20px;
}

form {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 300px;
  margin-right: 10px;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  margin: 10px;
  width: 250px;
  text-align: left;
}

.movie img {
  width: 100%;
  height: auto;
}